@charset "UTF-8";


body {
    display: flex;
}

#caixa1 {
    width: 500px;
    height: 500px;
    background-image: linear-gradient(to right, rgb(146, 250, 193), rgb(62, 62, 255));
    margin: 10px;
}

#caixa2 {
    width: 500px;
    height: 500px;
    background-image: linear-gradient(to left, green, yellow);
    margin: 10px;
}